<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    {% load static %} 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/home/logo2.png' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Login</title>
    <style>
        .toggle-password {
            position: absolute;
            right: 10px;
            top: 10px;
            cursor: pointer;
            color: #007BFF;
            font-size: 20px;
        }
    </style>
</head>

<body>
    <div class="tudo">
        
        <img src="{% static 'img/pessoa_login.png' %}" alt="" class="pessoa_login">

        <div class="main">
            <input type="checkbox" id="chk" aria-hidden="true">
            <input type="checkbox" id="chk2" aria-hidden="true">
            <div class="login">
                <form class="form">
                    <p class="lol">Entrar com sua conta</p>

                    <div class="input-container">
                        <input type="text" id="inputEmailLogin" required="">
                        <label for="inputEmailLogin" class="label fonte">Email / Nome</label>
                        <div class="underline"></div>
                    </div>
                    <br>
                    <div class="input-container senha">
                        <input type="password" id="inputPasswordLogin" required="">
                        <label for="inputPasswordLogin" class="label fonte">Senha</label>
                        <div class="underline"></div>
                        <span class="toggle-password" onclick="togglePassword('inputPasswordLogin')">
                            👁️
                        </span>
                    </div>

                    <div class="espaço">
                        <label for="chk" aria-hidden="true" class="fraseinter">Não tem conta?  <br> <a class="linkinter cadastre"> Cadastre-se aqui</a></label>
                        <label for="chk2" aria-hidden="true" class="fraseinter"><a class="linkinter"> Esqueceu a Senha</a></label>
                    </div>
                    <button class="oauthButton google">
                        <svg class="icon" viewBox="0 0 24 24">
                            <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4"></path>
                            <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" fill="#34A853"></path>
                            <path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" fill="#FBBC05"></path>
                            <path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" fill="#EA4335"></path>
                            <path d="M1 1h22v22H1z" fill="none"></path>
                        </svg>
                        <h2 class="continuar">Continue com o Google</h2>
                    </button>
                    <button class="logar">Logar</button>
                </form>
            </div>

            <div class="register">
                <form class="form">
                    <p class="lol2">Registre-se</p>
                    
                    <div class="input-container2">
                        <input type="text" id="inputCPF" required="">
                        <label for="inputCPF" class="label fonte">CPF</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container2">
                        <input type="text" id="inputUsuario" required="">
                        <label for="inputUsuario" class="label fonte">Usuário</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container2">
                        <input type="text" id="inputEmailRegistro" required="">
                        <label for="inputEmailRegistro" class="label fonte">Email</label>
                        <div class="underline"></div>
                    </div>
                    <div class="input-container2 senha">
                        <input type="password" id="inputPasswordRegistro" required="">
                        <label for="inputPasswordRegistro" class="label fonte">Senha</label>
                        <div class="underline"></div>
                        <span class="toggle-password" onclick="togglePassword('inputPasswordRegistro')">
                            👁️
                        </span>
                    </div>

                    <label for="chk" aria-hidden="true" class="fraseinter">Já tem conta? <a class="linkinter cadastre"> Logar aqui</a></label>
                    <button class="oauthButton google">
                        <svg class="icon" viewBox="0 0 24 24">
                            <path d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z" fill="#4285F4"></path>
                            <path d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z" fill="#34A853"></path>
                            <path d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z" fill="#FBBC05"></path>
                            <path d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z" fill="#EA4335"></path>
                            <path d="M1 1h22v22H1z" fill="none"></path>
                        </svg>
                        <h2 class="continuar">Continue com o Google</h2>
                    </button>
                    <button class="logar">Registrar</button>
                </form>
            </div>

            <div class="esqueci">
                <form class="form">
                    <p class="lol3">Esqueceu sua senha?</p>
                    <h2 class="texto">Enviaremos um e-mail com instruções sobre como redefinir a senha da sua conta.</h2>
                    <div class="input-container3">
                        <input type="text" id="input" required="">
                        <label for="input" class="label fonte">Email</label>
                        <div class="underline"></div>
                    </div>
                    <button class="logar  espaco">Recuperar senha</button>
                    <label for="chk2" aria-hidden="true" class="fraseinter"><a class="linkinter voltar"> Voltar</a></label>
                </form>
            </div>
        </div>
    </div>

    <script>
        function togglePassword(passwordId) {
            var passwordField = document.getElementById(passwordId);
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</body>
</html>
