{% extends 'base.html' %}

{% block title %}
EXAMES - OCULARE
{% endblock %}

{% block unico %}
{% load static %}

    <link rel="stylesheet" href="{%static 'css/exames.css' %}">
    <script src="{% static 'exames.js' %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}



    

    <div class="img0">
    <img src="{%static 'img/servicos/ft2.webp' %}" alt="" class="foto1">

</div>
    

    <div class="quadrado">
        <div class="texto">
        
            <h1 class="titulo">Exames Oftalmológicos</h1>
        <div class="txt1">
            <p>A Boa Vista oferece exames oftalmológicos em São Paulo, contando com uma equipe de 
                profissionais altamente qualificados e equipamentos de última geração. Nosso compromisso 
                é detectar problemas oculares precocemente, aumentando as chances de cura
            e proporcionando uma melhora rápida e eficaz para nossos pacientes.</p>
            
            </div>

        </div>
            
    </div> 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br>    


</div>
<!--<img src="/Exames/img/foto 1.png" class="foto1">-->


<img src="{%static 'img/servicos/ft3.webp' %}" alt="" class="ft2">

<div class="t22">
<p>Exames oftalmológicos<br> precisos com a Clínica<br> Oculare</p>
</div>

<div class="p2">
<h1>A Clínica Oculare disponibiliza exames oftalmológicos completos para avaliar a saúde ocular e detectar
    problemas de visão. Entre os exames, destacam-se a refração, que mede miopia, hipermetropia, 
    astigmatismo e presbiopia; a tonometria, que verifica a pressão intraocular para diagnóstico de glaucoma;
    e o mapeamento de retina, que analisa a saúde da retina e identifica doenças como retinopatia diabética.
    A clínica também utiliza tecnologia avançada, como a topografia de córnea, para diagnósticos detalhados.
    </h1>

</div>

<br><br>


        <button class="botagend" type="button" onclick="location.href='{% url 'agendamento' %}'">Agendar consulta</button>




<div class="linha">
<hr>
</div>


<br><br><br><br><br><br><br><br>
    

</div>
    


<div class="linha2">
    <hr>
    </div>


<div class="card1">
    
</div>


<div class="txt3">
    <p>Na Clínica Oculare, oferecemos cuidados de excelência para a sua saúde ocular, destacando o exame de 
        retinografia. Essa técnica avançada captura imagens detalhadas da retina, sendo essencial para a 
        detecção precoce de condições oculares, sem a necessidade de dilatação das pupilas, o que torna o
        procedimento mais confortável e rápido. Agende seu exame conosco e assegure um monitoramento preciso
        da sua saúde ocular. Nossa equipe está pronta para oferecer um atendimento de alta qualidade e 
        esclarecer suas dúvidas.</p>
    </div>          



<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <div class="card2">
    
    </div>
    
    
    <div class="txt4">
        <p>Na Oculare, realizamos a gonioscopia, um exame especializado que avalia o ângulo de drenagem do 
            olho, fundamental para diagnosticar e monitorar condições como o glaucoma. Este exame deve ser 
            feito por um oftalmologista qualificado, garantindo precisão no diagnóstico. Nossa equipe é 
            dedicada a oferecer atendimento de alta qualidade, assegurando que cada exame seja realizado 
            com cuidado e expertise.</p>
        </div>


        <button class="bot2"  id="bot2" >Ver mais</button>
        <div id="novoConteudo" style="display: none;">
            <div class="card3">
                    <div class="img1">
                        <img src="img/servicos/logo2maior.png" >
                    </div>
                </div>
                    
                    
                <div  class="txt5">
                    <p>Na Clínica Oculare, oferecemos retinografia, uma tecnologia avançada que captura imagens detalhadas da retina sem 
                        dilatação das pupilas, tornando o exame mais confortável e ágil. Essencial para a detecção precoce de condições 
                        oculares, este procedimento permite identificar problemas antes que se tornem sérios. Ao agendar seu exame 
                        conosco, você garante um monitoramento eficaz da sua saúde ocular. Nossa equipe qualificada está sempre pronta 
                        para oferecer um atendimento acolhedor e profissional. Entre em contato e cuide da sua visão!</p>
                    </div>     
                    
                    <br>   
                
                    <div class="card4">
                        <div class="img1">
                            <img src="img/servicos/logo2maior.png" >
                        </div>
                    </div>
                    
                    
                    <div  class="txt6">
                        <p>O exame de fotodocumentação do segmento anterior da Clínica Oculare em São Paulo utiliza uma câmera de última geração para 
                            capturar imagens detalhadas das estruturas oculares frontais, como córnea, íris, pupila e conjuntiva. Essa tecnologia 
                            proporciona visualização nítida, permitindo diagnósticos precisos e monitoramento eficaz de condições oculares. Assim, é 
                            essencial para a saúde visual dos pacientes, ajudando na identificação precoce de problemas e na definição de tratamentos adequados. A Clínica Oculare se destaca por sua dedicação à excelência e à inovação na preservação da visão.</p>
                        </div>  
        </div>
    
        <script>
            const botao = document.getElementById('bot2');
            const conteudo = document.getElementById('novoConteudo');
            botao.addEventListener('click', () => {
                conteudo.style.display = 'block'; 
                botao.style.display = 'none'; 
                const novoBotao = document.createElement('button');
                novoBotao.textContent = 'Ver menos';
                novoBotao.classList.add('novo-botao');
                document.body.appendChild(novoBotao);
                novoBotao.addEventListener('click', () => {
                    conteudo.style.display = 'none'; 
                    botao.style.display = 'block'; 
                    document.body.removeChild(novoBotao);   
                });
            });
        </script>
            
            {% endblock %}
