<!DOCTYPE html>
<html lang="pt-br">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exames - Oculare</title>
    <link rel="stylesheet" href="{%static 'css/servicos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
</head>


<body>

    

    <div class="img0">
    <img src="{%static 'img/ft2.webp' %}" alt="" class="foto1">

</div>
      

    <div class="quadrado">
        <div class="texto">
        
            <h1 class="titulo">Exames Oftalmológicos</h1>
           <div class="txt1">
            <p>A Boa Vista oferece exames oftalmológicos em São Paulo, contando com uma equipe de 
                profissionais altamente qualificados e equipamentos de última geração. Nosso compromisso 
                é detectar problemas oculares precocemente, aumentando as chances de cura
             e proporcionando uma melhora rápida e eficaz para nossos pacientes.</p>
             
            </div>

        </div>
             
       </div> 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br>    


</div>
<!--<img src="/Exames/img/foto 1.png" class="foto1">-->


<img src="{%static 'img/ft3.webp' %}" alt="" class="ft2">

  <div class="t22">
<p>Exames oftalmológicos<br> precisos com a Clínica<br> Oculare</p>
</div>

<div class="p2">
<h1>A Clínica Oculare oferece exames oftalmológicos precisos e completos para avaliar a saúde ocular e 
    identificar possíveis problemas de visão. Entre os exames realizados estão a refração, que mede o grau de 
    miopia, hipermetropia,astigmatismo e presbiopia; a tonometria, que verifica a pressão intraocular e auxilia 
    no diagnóstico do glaucoma;e o mapeamento de retina, que analisa a saúde da retina e identifica doenças como 
    a retinopatia diabética. Além disso, a clínica conta com equipamentos de alta tecnologia para exames como a 
    topografia de córnea, permitindo umaanálise detalhada da córnea e auxiliando no diagnóstico de diversas 
    patologias.</h1>

</div>

<br><br>

<div class="bot2">
    <a href="/AGENDAMENTO/agend.html">
    <button type="button"> <div class="pb"> Agendar Consulta </div></button>
</a>
    </div>



<div class="linha">
<hr>
</div>


<br><br><br><br><br><br><br><br>
      
  
  </div>
    


  <div class="linha2">
    <hr>
    </div>

<div class="card1">
    
</div>


<div class="txt3">
    <p>Na Clínica Oculare, estamos dedicados a oferecer o melhor cuidado para a sua saúde ocular. Um dos nossos serviços
        destacados é o exame de retinografia, uma técnica avançada que captura imagens detalhadas da retina. 
        Esse exame é fundamental para a detecção precoce de diversas condições oculares, que podem impactar sua visão 
        de maneira significativa. O diferencial da retinografia é que, ao contrário de outros exames, ela não requer a 
        dilatação das pupilas, tornando o procedimento muito mais confortável e rápido para o paciente. Com isso, você
        pode realizar o exame de forma eficiente e sem desconforto. Agendar seu exame conosco é uma excelente maneira 
        de garantir que sua saúde ocular seja monitorada com precisão e excelência. Nossa equipe está à disposição para
        oferecer um atendimento de alta qualidade e responder a todas as suas dúvidas, garantindo que você receba o 
        melhor cuidado possível para a preservação da sua visão.</p>
    </div>          
  


<br><br><br>

    <div class="card2">
    
    </div>
    
    
    <div class="txt4">
        <p>Na Oculare, oferecemos um exame especializado conhecido como gonioscopia. Esta técnica oftalmológica é 
            utilizada para avaliar o ângulo de drenagem do olho, que é a região onde a córnea e a íris se encontram. 
            A gonioscopia é essencial para o diagnóstico e monitoramento de condições oculares como o glaucoma, pois 
            permite uma visão detalhada dessa área crítica que influencia o fluxo de fluidos dentro do olho. É crucial 
            que este exame seja realizado por um oftalmologista especializado para garantir a precisão e a excelência no
            diagnóstico. Na Oculare, nossa equipe de profissionais altamente qualificados está comprometida em fornecer 
            um atendimento de alta qualidade e assegurar que cada exame seja conduzido com o máximo cuidado e expertise.</p>
        </div>          




<div>
    <a href="/EXAMES/exames2.html">
        <button type="button" class="botao2"><div class="pb2"> Mais exames</div> </button>
    </a>
</div>



  <footer class="footer">
    <div id="wave"></div>
    <div class="onda" id="onda0"></div>
    <div class="onda" id="onda1"></div>
    <div class="onda" id="onda2"></div>
    <div class="onda" id="onda3"></div>

    <p >Copyright © Boa Vista Oftamologia. Todos os direitos reservados.</p>


   <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
   <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</footer>

</body>


</html>