body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-container {
    position: relative;
    width: 25%;
    padding: 2vw;
    background-color: #fff;
    border-radius: 0.6vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.1);
    top: 15vw;
}

h2 {
    text-align: center;
    margin-bottom: 2vw;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 0.5vw;
    font-weight: bold;
    font-size: 1.5vw;
}

input {
    margin-bottom: 1.5vw;
    padding: 0.7vw;
    font-size: 1.4vw;
    border: 0.01vw solid #ccc;
    border-radius: 0.4vw;
}

button {
    padding: 0.9vw;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.4vw;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.messages {
    margin-top: 1.5vw;
    color: red;
    text-align: center;
}

footer{
    margin-top: 20vw;
}